<h1 class="text-3xl font-bold">Listado de medicamentos</h1>

<h2 class="text-xl">Página actual: {{ this.currentPage() }}</h2>

<hr class="my-2">

@if(this.medicamentos().length > 0) {
<app-insumo-list [medicamentos]="medicamentos()"></app-insumo-list>
} @else {
<app-insumo-list-skeleton></app-insumo-list-skeleton>
}

<div class="flex justify-between">
    <button (click)="cargarMedicamentos(-1)" class="mt-2 cursor-pointer">Anteriores</button>
    <button (click)="cargarMedicamentos(+1)" class="mt-2 cursor-pointer">Siguientes</button>
</div>