<h1 class="text-3xl font-bold underline">Precios de insumos</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Amet quaerat impedit minus quia praesentium reprehenderit ullam quasi culpa, dolor, qui illo, excepturi nisi! Repudiandae nesciunt autem eos praesentium nobis aperiam.
        <br/>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit ducimus repudiandae soluta hic repellendus repellat dolorem, eius, quas minus voluptatibus consectetur quasi ratione itaque totam blanditiis eum, porro odit sapiente.
    </p>
</section>
