<h1 class="text-3xl font-bold underline">Contacto</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Similique laborum quia labore, eum inventore odio natus deserunt minima molestiae libero ipsam atque sit aspernatur error vero itaque eveniet recusandae tempore!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis iure voluptas cum autem possimus? Facere, eos debitis esse culpa soluta accusamus ex optio, voluptate in non veritatis iste id commodi?
    </p>
</section>
