<h1 class="text-3xl font-bold underline">About Page</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        In deserunt ea rem corporis dolor error sint quas saepe voluptates eveniet! Harum sunt aperiam atque cumque necessitatibus asperiores distinctio sapiente quae.
        <br/>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut eum suscipit odio quos excepturi ex iure amet numquam autem earum dolor, culpa deserunt fugiat sit totam laudantium minus ipsam ratione?
    </p>
</section>
