<nav class="bg-[#006341] shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <!-- Logo -->
        <div class="flex items-center">
          <a routerLink="/" class="flex items-center mb-2 mt-2">
            <img
              src="/images/sm_logo.png"
              alt="Logo IMSS-Bienestar"
              class="h-12 w-auto"
            />
          </a>
        </div>
  
        <!-- Menú para pantallas grandes -->
        <div class="hidden md:flex items-center space-x-4">
          <a [routerLink]="['about']" 
          routerLinkActive="text-blue-500 underline italic" class="text-white hover:text-gray-300">About</a>
          <a routerLink="/pricing"
          routerLinkActive="text-blue-500 underline italic" class="text-white hover:text-gray-300">Pricing</a>
          <a routerLink="/contact"
          routerLinkActive="text-blue-500 underline italic" class="text-white hover:text-gray-300">Contact</a>
        </div>
  
        <!-- Botón para móviles -->
        <div class="md:hidden flex items-center">
          <button (click)="toggleMenu()" class="text-white focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <!-- Menú para móviles -->
    <div *ngIf="isMenuOpen" class="md:hidden bg-[#006341]">
      <a routerLink="/about" 
        routerLinkActive="text-blue-500 underline italic"
        class="block py-2 px-4 text-sm text-white hover:bg-[#004d33]">About</a>
      <a routerLink="/pricing"
      routerLinkActive="text-blue-500 underline italic" class="block py-2 px-4 text-sm text-white hover:bg-[#004d33]">Pricing</a>
      <a routerLink="/contact"
      routerLinkActive="text-blue-500 underline italic" class="block py-2 px-4 text-sm text-white hover:bg-[#004d33]">Contact</a>
    </div>
  </nav>